node_modules/
dist/
coverage/
.nyc_output/
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/coverage
.nyc_output
.tmp
.commit
.vscode
.idea
*.swp
*~
.history