server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
  redis:
    host: localhost
    port: 6379
    timeout: 2000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

jwt:
  secret: +KC+lpW2GAKcXXRGRUpRxNDivYegeCF7Qf/hJy6zcO/ogmtYSSSsynsPRAs86F606jHWJwCi8mkJkV/hZ2/kZg==
  expiration: 86400000 # 24小时

file:
  upload-path: ./uploads/